<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="loginService" class="login.LoginServiceImpl"/>
	<context:component-scan base-package="proxy"/>
	<!-- 定义事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" /><!-- ref:引入数据源  -->
	</bean>
	<!-- 导入外部propertie文件 -->
	<context:property-placeholder location="classpath:database.properties"/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		  destroy-method="close">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${user}"></property>
		<property name="password" value="${psw}"></property>
	</bean>

	<!-- 配置 Annotation 驱动，扫描@Transactional注解的类定义事务启动事物注解 transaction-manager的值必须和上面这个bean的id一样-->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="false" />
</beans>